<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription</key>
	<string>Cardinal uses NFC to write your portfolio link to NFC tags for easy sharing.</string>
	<key>NSContactsUsageDescription</key>
	<string>Cardinal needs access to contacts to allow you to save portfolio contact information to your address book.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MabryPro-Regular.ttf</string>
		<string>MabryPro-Bold.ttf</string>
		<string>MabryPro-Medium.ttf</string>
		<string>MabryPro-Light.ttf</string>
		<string>MabryPro-Black.ttf</string>
		<string>MabryPro-Italic.ttf</string>
		<string>MabryPro-BoldItalic.ttf</string>
		<string>MabryPro-MediumItalic.ttf</string>
		<string>MabryPro-LightItalic.ttf</string>
		<string>MabryPro-BlackItalic.ttf</string>
	</array>
</dict>
</plist>
